@font-face {
  src: asset_url('KlavikaLight-Plain.otf') format('opentype');
  font-family: 'Klavika Light';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: asset_url('KlavikaRegular-TF.otf') format('opentype');
  font-family: 'Klavika Regular';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: asset_url('KlavikaBoldBold.otf') format('opentype');
  font-family: 'Klavika Bold';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: asset_url('BetterTimesAlt.otf') format('opentype');
  font-family: 'Better Times';
  font-weight: normal;
  font-style: normal;
}