@import 'font-families';

$blue: blue;

div.navbar {
  background-color: #012848;
  border-color: #014677;
}

.navbar-default {
  a.navbar-brand, ul.navbar-nav > li > a {
    color: white;
    font-family: 'Klavika Bold';

    &:hover {
      color: #ddf;
    }
  }
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-toggle:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

#footer p.credit {
  margin-bottom: 0;
}

$spacer: 16px;

.mb-1 { margin-bottom: $spacer * 0.25 !important; }
.mb-2 { margin-bottom: $spacer * 0.5 !important; }
.mb-3 { margin-bottom: $spacer !important; }
.mb-4 { margin-bottom: $spacer * 1.5 !important; }
.mb-5 { margin-bottom: $spacer * 3 !important; }

.mt-1 { margin-top: $spacer * 0.25 !important; }
.mt-2 { margin-top: $spacer * 0.5 !important; }
.mt-3 { margin-top: $spacer !important; }
.mt-4 { margin-top: $spacer * 1.5 !important; }
.mt-5 { margin-top: $spacer * 3 !important; }

.mr-1 { margin-right: $spacer * 0.25 !important; }
.mr-2 { margin-right: $spacer * 0.5 !important; }
.mr-3 { margin-right: $spacer !important; }
.mr-4 { margin-right: $spacer * 1.5 !important; }
.mr-5 { margin-right: $spacer * 3 !important; }

.d-flex { display: flex; }
.space-between { justify-content: space-between; }

