.nested-fields.form-inline style='display:inline;'
  = f.input :email_address, :placeholder => 'email', :label => false
  / = f.input :primary, as: :boolean, checked_value: true, unchecked_value: false
  = link_to_remove_association 'Excluir E-Mail', f
